@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
body {
  font-family: "Kanit", sans-serif;
  font: size 16px;
  font-weight: 400;
  background: rgba(154, 187, 157, 0.12);
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.header {
  display: flex;

  /* margin-bottom: 20px; */
}

@media (max-width: 650px) {
  .header {
    display: block;
    text-align: center;
  }
}

.left-side img {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
  border-radius: 15%;
  width: 250px;
}

.right-side {
  margin-left: 40px;
}

.right-side h4 {
  margin-bottom: 15px;
}

.info {
  line-height: 25px;
  padding-top: 31px;
}

.info p {
  margin: 0;
}

.social {
  padding-top: 40px;
  line-height: 7px;
}

a {
  color: rgb(201, 205, 209);
  text-decoration: none;
}
a:hover {
  color: rgb(12, 61, 11);
  text-decoration: underline;
}

a:active {
  color: rgb(162, 24, 121);
}

a:visited {
  color: rgb(68, 18, 207);
}

h2 {
  line-height: 15px;
}

.card {
  margin-top: 10px;
  margin-left: -5px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.hobby-list {
  margin: 0;
  padding: 0;
}

.hobby-list li {
  margin: 0px 17px;
  padding: 0px;
}

.yellow {
  background-color: rgba(223, 214, 35, 0.4);
}

.orange {
  background-color: rgb(185, 136, 136, 0.6);
}

.blue {
  background-color: rgb(88, 107, 163, 0.4);
}

/* table-------------------- */

.table-job {
  width: 100%;
}

.thead {
  text-align: left;
}

/* table-job td:nth-child(2) обращение к 2му столбцу  */

.table-job tr:nth-child(2) {
  color: rgb(149, 107, 185);
}

.table-job tr:nth-child(3) {
  color: rgb(112, 67, 152);
}

.table-job tr:nth-child(4) {
  color: rgb(64, 19, 103);
}

/* FORMS-------------------- */

.blue h2 {
  text-align: center;
  font-size: 20px;
}

.form-group label {
  display: block;
  color: rgb(118, 118, 118);
}

.form-group input,
.form-group textarea {
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid black;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  /* padding-left: 5px; */
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:nth-last-child(1) {
  margin-right: 0px;
}

.btm {
  width: 110px;
  height: 40px;
  background-color: black;
  color: rgb(201, 205, 209);
  font-weight: 500;
  border: 5px solid rgb(160, 153, 153);
  font-family: inherit;
  opacity: 0.5;
}
